<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.tranty.vovinam_client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VovinamApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_circle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialogs.PointDialog"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".dialogs.HistoryDialog"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".activities.ProfileActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dialogs.ChangePasswordDialog"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".dialogs.PointDoiKhangDialog"
            android:theme="@style/MyDialog" />
        <activity android:name=".activities.LockAccountActivity"
            android:parentActivityName=".activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>